<div class="director">
    <div class="firstName">{{director?.firstName}}</div>
    <div class="lastName">{{director?.lastName}}</div>
    <div class="birthDate">{{director?.birthDate}}</div>
    <div class="description">{{director?.description}}</div>

    <div class="movies">
        Movies:
        <ul>

            <li *ngFor="let movie of director?.movies">
                <a [routerLink]="['/movies', movie.id]">
                    <div class="title">{{movie?.title}} ({{movie.productionYear}})</div>
                </a>

            </li>
        </ul>
    </div>
</div>