<div class="container">


    <div class="director person">
        <div class="summary">
            <div class="name">
                <div class="firstName">{{director?.firstName}} </div>
                <div class="lastName">{{director?.lastName}} ({{getAge()}})</div>
            </div>


            <div class="description">{{director?.description}}</div>

        </div>

        <div class="movies">
            <div>Movies:</div>
            <ul>

                <li *ngFor="let movie of director?.movies">
                    <a [routerLink]="['/movies', movie.id]">
                        <div class="title">{{movie?.title}} ({{movie.productionYear}})</div>
                    </a>

                </li>
            </ul>
        </div>
    </div>


</div>