<div class="container">

    <div class="movie">
        <div class="summary">
            <div>{{movie?.title}} ({{movie?.productionYear}})</div>
            <div><!-- {{movie.category}} --></div>
            <div class="description">{{movie?.description}}</div>

        </div>


        <div class="director" *ngIf="movie?.directorId">
            <div>Director:</div>
            <a [routerLink]="['/directors', movie.directorId]">
                <div class="director">{{movie?.director?.firstName}} {{movie?.director?.lastName}}</div>
            </a>
        </div>

        <div class="actors">
            <div>Actors:</div>
            <div *ngFor="let actor of movie?.actors">
                <a [routerLink]="['/actors', actor.id]">
                    <div>{{actor.firstName}} {{actor.lastName}}</div>
                </a>
            </div>
        </div>



    </div>
</div>