<div class="container">

    <div class="movie">
        <div class="summary">
            <div class="title">
                <div>{{movie?.title}} ({{movie?.productionYear}})</div>
                <div class="delete-movie-button" (click)="deleteMovie()">delete</div>
            </div>
            <div><!-- {{movie.category}} --></div>
            <div class="description">{{movie?.description}}</div>

        </div>


        <div class="director">
            <div>Director:</div>
            <a [routerLink]="['/directors', movie?.directorId]">
                <div class="director">{{movie?.director?.firstName}} {{movie?.director?.lastName}}</div>
            </a>
            <div *ngIf="movie?.directorId" (click)="deleteDirector(movie.director.id)" class="deleteButton"> X </div>





            <form (ngSubmit)="addDirector()" *ngIf="!movie?.directorId">
                <mat-form-field>
                    <mat-select [(ngModel)]="selectedDirectorId" name="actor">
                        <mat-option *ngFor="let director of directors" [value]="director.id">{{director.firstName}}
                            {{director.lastName}} </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Add</button>
            </form>

        </div>




        <div class="actors">
            <div>Actors:</div>
            <div *ngFor="let actor of movie?.actors" class="actor">
                <a [routerLink]="['/actors', actor.id]">
                    <div>
                        {{actor.firstName}} {{actor.lastName}}

                    </div>
                </a>
                <div (click)="deleteActor(actor.id)" class="deleteButton"> X </div>
            </div>

            <form (ngSubmit)="addActor()">
                <mat-form-field>
                    <mat-label>Add Actor</mat-label>
                    <mat-select [(ngModel)]="selectedActorId" name="actor">
                        <mat-option *ngFor="let actor of actors" [value]="actor.id">{{actor.firstName}}
                            {{actor.lastName}} </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Add</button>
            </form>


        </div>



    </div>
</div>