<div class="movie">
    <div>{{movie?.title}}</div>
    <div><!-- {{movie.category}} --></div>
    <div class="description">{{movie?.description}}</div>
    <div>Production Year: {{movie?.productionYear}}</div>

    <div *ngIf="movie?.directorId">
        Director:
        <a [routerLink]="['/directors', movie.directorId]">
            <div class="director">{{movie?.director?.firstName}} {{movie?.director?.lastName}}</div>
        </a>
    </div>

    <div class="actors">Actors:
        <div *ngFor="let actor of movie?.actors">
            <a [routerLink]="['/actors', actor.id]">
                <div>{{actor.firstName}} {{actor.lastName}}</div>
            </a>
        </div>
    </div>



</div>